/* IMPOSTAZIONI GENERALI */
body{
    font-family: "Poppins", sans-serif;
    background-image: url('/assets/img/sfondo.png');
    background-repeat: repeat-y;
    font-size: 14px;
    background-position: center;
    line-height: 1,5px;
}
@media screen and (min-width:500px) {
    html {
        font-size: 70%;
    }
    body {
        line-height: 1.8;
    }
}
@media screen and (min-width:700px) {
    html {
        font-size: 80%;
    }
    body {
        line-height: 2;
    }
}
@media screen and (min-width:1200px) {
    html {
        font-size: 100%;
    }
    body {
        line-height: 2.4;
    }
}
.toTop {
    position: fixed;
    bottom: 10px;
    right: -7px;
}
.toTop a {
    color: #c77ea2;
    font-size: 4rem;
    display: block;
}
.toTop .far {
    background: white;
}
/* HEADER */
header{
    background-color: #0093b5; 
    background: linear-gradient(#009ABE,#036D85);
    box-shadow: 0 3px 3px #444;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2em 1.5em;
    border: 1px solid #0093b5;
    margin: 2em 2em;
    line-height: 2;
    color: white;
    position: sticky;
    top: 0;
}
header div img {
    margin-bottom: 20px;
    height: 35%;  
    width: 35%;
}
header nav li {
    list-style: ★;
    display: inline-block;
    margin-right: 10px;
}
header nav li a {
    color: white;
    text-decoration: none;
}
header nav li a:hover {
    color: red;
}
header nav li a::before {
    content: "\22c6\0020";
}
hr{
    display: none;
}
/* MAIN */
main{
    background-color: white;
    box-shadow: 0 3px 3px #444;
    text-align: center justify;
    padding: 2em 1.2em;
    border: 1px solid black;
    margin: 2em 2em;
    line-height: 2;
}
@media screen and (min-width:700px) {
    main {
       padding: 2em;
    }
}
h1{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 0.5em;
}
/* ELEMENTI NEL MAIN - ARTICLE */
main article div{
    color: grey;
    display: inline-block;
    padding-bottom: 1em;
}
strong{
    color: #71354F;
    font-weight: bold;
}
p{
    padding-bottom: 0.5em;
}
h2{
    padding: 2em 0em 0.1em 0em;
}
ul{
    padding-left: 2em;
}
code {
    background-color: #e3e3e3;
    border: 1px solid #969494;
    border-radius: 5px;
}
ol{
    padding-left: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
}
/* TABELLE */
@media screen and (min-width:500px) {
    table {
        margin: 0 auto 2em;
    }
}
@media screen and (min-width:700px) {
    table {
        width: 70%;
    }
}
table{
    margin-bottom: 2em;
}
table caption{
    font-weight: bold;
    font-style: italic;
}
table thead{
    background-color: #346FCB;
    color: white;
}
thead tr th{
    border-color: white;
    border-right: 1px solid;
}
th, td {
    padding: 12px 15px;
    vertical-align: bottom;
    text-align: center;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
tbody tr:last-of-type {
    border-bottom: 2px solid #3f6bca;
}   
p a{
  color: #2297AD;
}
iframe{
    margin-bottom: 2em;
    margin-top: 2em;
    width: 100%;
    height: auto;
}
 /* FORM */
section{
    background-color: #e3e3e3;
    text-align: center;
    margin-bottom: 2em;
    padding: 1em 1em 1em 0em;
    margin-top: 2em;
}
section h2{
    text-align: center;
    background-color: #a3a3a3;
    font-weight: bold;
    background-size: 2px;
    text-transform: uppercase;
    margin: -10% 60% 5% 8%;
    top: -0.5em;
    padding: 0 1em;
    box-shadow: 1px 1px 2px #333;
}
form fieldset{
    text-align: center;
}
form input{
    margin-left: 0.5em;
    border-bottom: dashed;
    border-width: 1px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
button{
    background-color: #346FCB;
    color: white;
}
/* ELEMENTI NELL' ASIDE */
aside h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
aside div{
    background-color:#e3e3e3;
    border-color: #e3e3e3e8;
    margin-bottom: 1em;
    padding: 1em;
}
aside div p:last-child{
    font-size: 0.8em;
    text-align: right;
}
/* FOOTER */
footer{
    background-color: #065566;
    background: linear-gradient(#065565,#244044);
    box-shadow: 0 3px 3px #2e2e2e;
    color: white;
    text-align: center;
    padding: 2em 1.5em;
    border: 1px solid #0093b5;
    margin: 2em 2em;
    line-height: 2;
}
footer address a{
    color:#E212E3;
}
footer p{
    margin-bottom: 1em;
    color: white;
}
